doctype html
html
  head
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css",rel="stylesheet",type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css",rel="stylesheet",type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Karla:400,700",rel="stylesheet",type="text/css")
    link(href="./dist/css/home.css", rel="stylesheet")
  body.homepage
    include includes/header.pug
    include includes/hero.pug
    include includes/about-us.pug
    include includes/meetups.pug
    include includes/supporters.pug
    script(src="./dist/js/index.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")