$color-text-black: rgba(#000, .86);
$color-text: $color-text-black;
$color-text-light: rgba(#000, .54);
$color-text-lighter: rgba(#000, .26);

$text-color: $color-text-black;
$link-color: #4990E2;
$link-hover-color: darken(#4990E2, 10%);
$font-family-base: 'Karla', Helvetica, Arial, sans-serif;

$font-size-base:   16px;
$font-size-large:  18px;
$font-size-small:  14px;
$font-size-micro:  12px;

$font-size-h1: 28px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 18px;
$font-size-h5: 18px;
$font-size-h6: 18px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$border-radius-base: 3px;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  font-weight: $font-weight-normal;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links

a {
  color: $link-color;
  text-decoration: none;
}

strong {
  font-weight: $font-weight-bold;
}