section.about-us
  .container
    .copy.row
      .col-xs-12
        h2.section-title Sobre nosotros
      .section-description.col-xs-6.col-xs-offset-3
        p Somos un grupo de personas interesadas en el aprendizaje de tecnologías relacionadas con el desarrollo web.
        p Nos encontramos los domingos (16:00 a 20:00) para aprender a programar siguiendo la curricula propuesta por el sitio de e-learning
          strong
            a(href="https://www.freecodecamp.org/" target="_blank")
              |  freeCodeCamp
          | .
        p En los encuentros no hay profesores ni alumnos, sino que todos nos ayudamos entre si para resolver los distintos problemas. El aprendizaje se basa en tecnologias web como HTML, CSS, Javascript, entre otras.
        p Si queres saber más sobre nosotros, podes revisar nuestra
          strong
            a(href="https://github.com/FreeCodeCampBA/quick-start#computer-freecodecamp-ba-quick-start-rocket" target="_blank")
              |  guia para quienes ingresan al grupo
          |  💪.

    .photo-slider
      ul.slider
        li
          .image-container
            img(src="", alt="")
            .image-copy
              .image-title Meetup Febrero 2016
              .image-subtitle Area Tres
        li
          .image-container
            img(src="", alt="")
            .image-copy
              .image-title Meetup Febrero 2016
              .image-subtitle Area Tres
        li
          .image-container
            img(src="", alt="")
            .image-copy
              .image-title Meetup Febrero 2016
              .image-subtitle Area Tres
