.full-height
  section.about-us#about-us
    .container
      .copy.row
        .col-xs-12
          h2.section-title Sobre nosotros
        .section-description.col-xs-6.col-xs-offset-3
          p Somos una comunidad de aprendizaje sobre desarrollo y tecnologías web.
          p Promovemos una forma de aprendizaje autodidacta, experimental y colaborativa.
          p Vas a tu propio ritmo, en un ambiente motivador y totalmente distendido.
          p Creemos que la mejor forma de aprender a programar es... ¡programando!
          p Utilizamos la plataforma de
            strong
              a(href="https://www.freecodecamp.org/" target="_blank")
                |  freeCodeCamp
            |  como currícula de desarrollo Full Stack JavaScript (
            strong
              a(href="https://www.freecodecamp.org/map" target="_blank")
                | ver currícula
            | ).

          p Si querés saber más, te recomendamos leer nuestra
            strong
              a(href="https://github.com/freeCodeCampBA/quick-start#computer-freecodecamp-ba-quick-start-rocket" target="_blank")
                |  guía rápida para empezar
            | .
