footer.main-footer
  .container
    .information
      h4
        img(src="", alt="")
        span.title FreeCodeCamp
        span.subtitle Buenos Aires
    ul.social-links
      li
        a(href="")
          img(src="", alt="")
          span Seguinos en Facebook
      li
        a(href="")
          img(src="", alt="")
          span Seguinos en Twitter
      li
        a(href="")
          img(src="", alt="")
          span Inscribite a las reuniones en Meetup
      li
        a(href="")
          img(src="", alt="")
          span Unite al chat en Slack
      li
        a(href="")
          img(src="", alt="")
          span Seguinos en Github

    ul.general-links
      li
        a(href="")
          img(src="", alt="")
          span Preguntas frecuentes
      li
        a(href="")
          img(src="", alt="")
          span Guia inicial del grupo
      li
        a(href="")
          img(src="", alt="")
          span Codigo de conducta
      li
        a(href="")
          img(src="", alt="")
          span Charlas
      li
        a(href="")
          img(src="", alt="")
          span Contact