footer.main-footer
  .container
    .information
      h4
        img(src="", alt="")
        span.title freeCodeCamp

        span.subtitle Buenos Aires
        br
        span Aprendemos haciendo, enseñando y compartiendo lo que sabemos.
    ul.social-links
      li
        a(href="https://www.facebook.com/groups/free.code.camp.buenos.aires" target="_blank")
          img(src="", alt="")
          span Seguinos en Facebook
      li
        a(href="https://twitter.com/freeCodeCampBA" target="_blank")
          img(src="", alt="")
          span Seguinos en Twitter
      li
        a(href="https://www.instagram.com/freecodecampba/" target="_blank")
          img(src="", alt"")
          span Seguinos en Instagram
      li
        a(href="https://www.meetup.com/freeCodeCampBA" target="_blank")
          img(src="", alt="")
          span Inscribite a las reuniones en Meetup
      li
        a(href="https://freecodecampba.org/chat/" target="_blank")
          img(src="", alt="")
          span Unite al chat en Slack
      li
        a(href="https://github.com/freeCodeCampBA" target="_blank")
          img(src="", alt="")
          span Seguinos en Github


    ul.general-links
      li
        a(href="https://github.com/freeCodeCampBA/faq#interrobang-faq" target="_blank")
          img(src="", alt="")
          span Preguntas frecuentes
      li
        a(href="https://github.com/freeCodeCampBA/quick-start#computer-freecodecamp-ba-quick-start-rocket" target="_blank")
          img(src="", alt="")
          span Guia inicial del grupo
      li
        a(href="https://github.com/freeCodeCampBA/codigo#green_book-código-de-conducta" target="_blank")
          img(src="", alt="")
          span Codigo de conducta
      li
        a(href="https://github.com/FreeCodeCampBA/charlas#charlas-para-freecodecamp-ba-" target="_blank")
          img(src="", alt="")
          span Charlas
      li
        a(href="https://www.google.com/recaptcha/mailhide/d?k=01yE_TK-6DCrQkMTwi-QFpaQ==&amp;c=LJn8XkYzHNweGLbOejp13K_I8Q11mTYmqks8lK5JbWM=" target="_blank")
          img(src="", alt="")
          span Contact
