footer.main-footer
  .container
    .information
      h4
        img(src="", alt="")
        span.title freeCodeCamp

        span.subtitle Buenos Aires
        br
        span Aprendemos haciendo, enseñando y compartiendo lo que sabemos.
    ul.social-links
      li
        a(href="bit.ly/fccba-medium" target="_blank")
          img(src="", alt="")
          span Seguinos en Medium
      li
        a(href="bit.ly/fccba-facebook" target="_blank")
          img(src="", alt="")
          span Seguinos en Facebook
      li
        a(href="bit.ly/fccba-twitter" target="_blank")
          img(src="", alt="")
          span Seguinos en Twitter
      li
        a(href="bit.ly/fccba-meetup" target="_blank")
          img(src="", alt="")
          span Inscribite a las reuniones en Meetup
      li
        a(href="bit.ly/fccba-videos" target="_blank")
          img(src="", alt="")
          span Suscribite a nuestro canal de Youtubes
      li
        a(href="bit.ly/fccba-instagram" target="_blank")
          img(src="", alt="")
          span Seguinos en Instagram
      li
        a(href="bit.ly/fccba-github" target="_blank")
          img(src="", alt="")
          span Seguinos en Github
      li
        a(href="bit.ly/fccba-chat" target="_blank")
          img(src="", alt="")
          span Unite al chat en Slack


    ul.general-links
      li
        a(href="bit.ly/fccba-codigo" target="_blank")
          img(src="", alt="")
          span Codigo de conducta
      li
        a(href="bit.ly/fccba-faq" target="_blank")
          img(src="", alt="")
          span Preguntas frecuentes (FAQ)
      li
        a(href="bit.ly/fccba-quick-start" target="_blank")
          img(src="", alt="")
          span Guia inicial del grupo
      li
        a(href="bit.ly/fccba-charlas" target="_blank")
          img(src="", alt="")
          span Charlas
      li
        a(href="bit.ly/fccba-feedback" target="_blank")
          img(src="", alt="")
          span Dejanos tu Feedback
      li
        a(href="https://www.google.com/recaptcha/mailhide/d?k=01yE_TK-6DCrQkMTwi-QFpaQ==&amp;c=LJn8XkYzHNweGLbOejp13K_I8Q11mTYmqks8lK5JbWM=" target="_blank")
          img(src="", alt="")
          span Contact
