header.main-header
  .container.main-header-container
    .logo
      img.logo-image(src="", alt="")
      h1.logo-text
        span.title Free Code Camp
        br
        span.subtitle Buenos Aires

    nav.main-navigation
      ul.main-navigation-list
        li.main-navigation-item
          a(href="#home") Home
        li.main-navigation-item
          a(href="#sobre-nosotros") Sobre nosotros
        li.main-navigation-item
          a(href="#proximos-encuentros") Proximos encuentros