header.main-header
  .container.main-header-container
    .logo
      img.logo-image(src="src/img/logoSquare.jpg", alt="freeCodeCamp Buenos Aires logo")
      h1.logo-text
        span.title freeCodeCamp
        br
        span.subtitle Buenos Aires

    nav.main-navigation
      ul.main-navigation-list
        li.main-navigation-item
          a(href="#home") Home
        li.main-navigation-item
          a(href="#sobre-nosotros") Sobre nosotros
        li.main-navigation-item
          a(href="#proximos-encuentros") Proximos encuentros
