section.full-height
  .hero
    .container
      h2.hero-title
        | Somos la comunidad de
        strong
          |  freeCodeCamp
        |  en
        strong
          |  Buenos Aires
      h4.hero-description
        | Aprendemos haciendo, enseñando y compartiendo lo que sabemos.
      .video-launcher
        //- button.video-launcher-btn Mira nuestro video
    .diagonal-divider
  .next-page
    a(href="#about-us")
      <
