section.hero
  .container
    h2.hero-title
      | Somos la comunidad de 
      strong freeCodeCamp 
      | en 
      strong Buenos Aires
    h4.hero-description
      | Veni a conocernos todos los domingos para aprender sobre desarrollo web,
      br
      | siguendo la curricula del sitio de e-learning FreeCodeCamp 👋. 
    .video-launcher
      button.video-launcher-btn Mira nuestro video
  .diagonal-divider