section.meetups
  .container
    h2 Proximos encuentros
    article.meetup-card
      .content
        h3.meetup-title freeCodeCamp BA S02E01
        .meetup-info
          span.info-label Fecha:
          span.info-text Domingo 12/17
          span.info-label Horario:
          span.info-text 16:00 a 20:00
          span.info-label Lugar:
          span.info-text Area Tres (El Salvador 5000)
        button Inscribite
      .image
        img(src="", alt="")
    article.meetup-card
      .content
        h3.meetup-title freeCodeCamp BA S02E01
        .meetup-info
          span.info-label Fecha:
          span.info-text Domingo 12/17
          span.info-label Horario:
          span.info-text 16:00 a 20:00
          span.info-label Lugar:
          span.info-text Area Tres (El Salvador 5000)
        button Inscribite
      .image
        img(src="", alt="")