section.meetups
  .diagonal-divider
  .container
    h2.title Proximo encuentro
    article.meetup-card
      .content
        h3#nombre freeCodeCamp BA S02E01
        .meetup-info
            span.info-label Fecha:
            span.info-text#fecha Domingo 12/17
            span.info-label Horario:
            span.info-text#horario 16:00 a 20:00
            span.info-label Lugar:
            span.info-text#lugar Area Tres (El Salvador 5000)
            
        a(href="" target="_blank" rel="noopener noreferrer").meetup-btn Inscribite
      .image
        img(src="", alt="")
