section.meetups
  .diagonal-divider
  .container
    h2.title Proximo encuentro
    article.meetup-card
      .content
        h3 freeCodeCamp BA S02E01
        .meetup-info
          span.info-label Fecha:
          br
          span.info-text Domingo 12/17
          br
          br
          span.info-label Horario:
          br
          span.info-text 16:00 a 20:00
          br
          br
          span.info-label Lugar:
          br
          span.info-text Area Tres (El Salvador 5000)
        br
        button.meetup-btn Inscribite
      .image
        img(src="", alt="")
