.full-height.center-both
  .owl-carousel.owl-theme.owl-center.owl-loaded
    .item: h4: img(src="src/img/imgTest/1.jpg", alt="", srcset="")
    .item: h4: img(src="src/img/imgTest/2.jpg", alt="", srcset="")
    .item: h4: img(src="src/img/imgTest/3.jpg", alt="", srcset="")
    .item: h4: img(src="src/img/imgTest/4.jpg", alt="", srcset="")
    .item: h4: img(src="src/img/imgTest/5.jpg", alt="", srcset="")
    .item: h4: img(src="src/img/imgTest/6.jpg", alt="", srcset="")
    .item: h4: img(src="src/img/imgTest/7.jpg", alt="", srcset="")
    .item: h4: img(src="src/img/imgTest/8.jpg", alt="", srcset="")
