section.supporters
  .container
    h2 Supporters
    p Estas son algunas de las comunidades y empresas que nos apoyan para seguir creciendo.
    .supporters-list
      img(src="", alt="")
      img(src="", alt="")
      img(src="", alt="")
      img(src="", alt="")
      img(src="", alt="")
      img(src="", alt="")
      img(src="", alt="")
      img(src="", alt="")